// SF pro font
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

a {
  text-decoration: none;
  color:white;
}

.partial-ud:after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: rgba(255,255,255,0.5);
  margin-left: 25%;
}
